{% extends '::base.html.twig' %}

{% block container %}
    <div class="row">
        <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10">
            <div class="page-header">
                <h1>Inscription</h1>
            </div>
            {{form_start(form)}}
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="form-group">
                            {{form_label(form.codeParrain, 'ID du parrain')}}
                            <label class="pull-right" id="parrain"></label>
                            {{form_widget(form.codeParrain, {'attr': {'class': 'form-control'}})}}
                        </div>
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" value="Generer apres inscription" class="form-control" readonly />
                        </div>
                        <div class="form-group">
                            {{form_label(form.nom, 'Nom')}}
                            {{form_widget(form.nom, {'attr': {'class': 'form-control'}})}}
                            {{form_errors(form.nom)}}
                        </div>
                        <div class="form-group">
                            {{form_label(form.prenoms, 'Prenoms')}}
                            {{form_widget(form.prenoms, {'attr': {'class': 'form-control'}})}}
                            {{form_errors(form.prenoms)}}
                        </div>
                        <div class="form-group">
                            {{form_label(form.sexe, 'Sexe')}}
                            {{form_widget(form.sexe, {'attr': {'class': 'form-control'}})}}
                        </div>
                        <div class="form-group">
                            {{form_label(form.naissance, 'Naissance')}}
                            <div class="form-inline">
                                {{form_widget(form.naissance.day, {'attr': {'class': 'form-control'}})}}
                                {{form_widget(form.naissance.month, {'attr': {'class': 'form-control'}})}}
                                {{form_widget(form.naissance.year, {'attr': {'class': 'form-control'}})}}
                            </div>
                            {{form_errors(form.naissance)}}
                        </div>
                        <div class="form-group">
                            {{form_label(form.tel, 'Numero de telephone')}}
                            {{form_widget(form.tel, {'attr': {'class': 'form-control', 'placeholder': 'Exxenple: 0022899887766/99887766'}})}}
                            {{form_errors(form.tel)}}
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="form-group">
                            {{form_label(form.profession, 'Profession')}}
                            {{form_widget(form.profession, {'attr': {'class': 'form-control'}})}}
                            {{form_errors(form.profession)}}
                        </div>
                        <div class="form-group">
                            {{form_label(form.email, 'E-mail (facultatif)')}}
                            {{form_widget(form.email, {'attr': {'class': 'form-control'}})}}
                            {{form_errors(form.email)}}
                        </div>
                        <div class="form-group">
                            {{form_label(form.pays, 'Pays')}}
                            {{form_widget(form.pays, {'attr': {'class': 'form-control'}})}}
                        </div>
                        <div class="form-group">
                            {{form_label(form.ville, 'Ville')}}
                            {{form_widget(form.ville, {'attr': {'class': 'form-control'}})}}
                            {{form_errors(form.ville)}}
                        </div>
                        <div class="form-group">
                            {{form_label(form.adresse, 'Adresse')}}
                            {{form_widget(form.adresse, {'attr': {'class': 'form-control'}})}}
                            {{form_errors(form.adresse)}}
                        </div>
                        <div class="form-group">
                            {{form_label(form.password, 'Mot de passe')}}
                            {{form_widget(form.password, {'attr': {'class': 'form-control'}})}}
                            {{form_errors(form.password)}}
                        </div>
                        <div class="form-group">
                            <label for="cp">Confirmer mot de passe</label>
                            <input type="password" name="cp" id="cp" class="form-control"/>
                        </div>
                    {{form_widget(form.Valider, {'attr': {'class': 'btn btn-default pull-right'}})}}
                    </div>
                </div>
            {{form_end(form)}}
        </div>
    </div>
    <br/>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script type="text/javascript">
        var $parrain = $('#parrain');
        var $codeParrain = $('#corebundle_user_codeParrain');
        
        $codeParrain.blur(function() {
            var $this = $codeParrain;
            var val = $this.val().trim().toUpperCase();
            
            if(val !== '') {
                if(val === 'TB0000') {
                    $parrain.removeClass('text-info');
                    $parrain.removeClass('text-danger');
                    $parrain.text('');
                    $this.val(val);
                } else {
                    console.log(val);
                    var url = '{{path('xhr_get_parrain')}}/' + val;

                    $.getJSON(url, function(data) {
                        console.log(data);
                        $parrain.text(data.p);

                        if(data.s === 0) {
                            $parrain.removeClass('text-info');
                            $parrain.addClass('text-danger');
                        } else {
                            $parrain.removeClass('text-danger');
                            $parrain.addClass('text-info');

                            $this.val(val);
                        }
                    });
                }
            }
        });
    </script>
{% endblock %}